{% extends 'base.html' %}

<!--?VARIABLES-->
{% set pageName = 'Flask' %}
{% set pageUrl = 'ADD' %}
{% set Url = 'http://127.0.0.1/' %}
{% set pageUrl = Url + '/' %}
{% set image = '' %}

{% block title %}
{{ pageName }}
{% endblock %}

{% block body %}
<main>
    <img src="https://foglar.github.io/images/flask.png" width="40" height="40" align="left" alt="flask icon">
    <h1>Hello world, this is flask-application template.</h1>
    <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>
    <ul>
        <li><a href="https://www.github.com/foglar">Github</a></li>
        <li><a href="https://foglar.github.io">Web</a></li>
        <li><a href="https://www.twitter/foglar4">Twitter</a></li>
    </ul>
</main>

{% endblock %}